@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.PL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"  href="~/lib/datatables/css/datatables.bootstrap4.css" />
    <link rel="stylesheet"  href="~/lib/datatables/css/datatables.bootstrap4.min.css" />
    <link href=" https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">
  

    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Demo.PL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>
                        }
                     
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ml-auto">
                                <div class="d-flex">
                                    <a class="nav-link text-danger ml-3" asp-area="" asp-controller="Users" asp-action="Details" asp-route-Id="@UserManager.GetUserId(User)">
                                    <i class="fas fa-user mr-2"></i> Profile
                                </a>

                                <a class="nav-link text-danger ml-3" asp-area="" asp-controller="Account" asp-action="SignOut">
                                    <i class="fas fa-sign-out-alt mr-2"></i> Sign Out
                                </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                <div class="d-flex">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="SignIn">
                                        <i class="fas fa-sign-in-alt mr-2"></i> Login
                                    </a>
                                    <a class="nav-link text-danger ml-3" asp-area="" asp-controller="Account" asp-action="SignUp">
                                        <i class="fas fa-user-plus mr-2"></i> Sign Up
                                    </a>
                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Demo.PL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
