@model DepartmentViewModel
@{
    ViewData["Title"] = "Update";
}

<h2 style="text-decoration:underline ; margin-top:3% ">Update Department</h2>

<form asp-action="Update">
    <input hidden asp-for="Id"/>
    <partial name="/Views/Department/Partial/CreatEditPartialView.cshtml" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="index" class="btn btn-light">Back To Departments List</a>
</form>
