@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="form-wrap">
    <div class="form-inner">
        <h1 class="title">Forget Password</h1>
        <p class="caption mb-4">Please enter your Email to reset your Password</p>
        <form asp-action="ForgetPassword" class="pt-3">
            <div class="form-floating">
                <label>@Html.DisplayNameFor(M=>M.Email)</label>
                <input type="email" asp-for="@Model.Email" class="form-control" id="email" placeholder="info@example.com" required=""/>
                <span asp-validation-for="Email" class="text-danger"></span>
                
                <div class="d-grid mb-4 mt-3">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>


            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }