
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="form-wrap">
    <div class="form-inner">
        <p class="h2 font-weight-bold text-dark display-6">Your password has been reset successfully</p>
        <div class="mb-2 mt-5 font-weight-bold text-dark h3">Return to login Page? <a asp-action="SignIn">Log in</a></div>


        
    </div>
</div>
