@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="form-wrap">
    <div class="form-inner">
        <h1 class="title">Reset Password</h1>

        <form asp-action="ResetPassword" class="pt-3">
            <div asp-validation-summary="All">
                <input type="hidden" asp-for="Email"/>
                <input type="hidden" asp-for="Token" />
            <div class="form-floating">
                <span class="password-show-toggle js-password-show-toggle"><span class="uil"></span></span>
                <input type="password" asp-for="@Model.Password" class="form-control" id="password" placeholder="Password">
                <label for="password"> New Password</label>
@*                <span asp-validation-for="@Model.Password" class="text-danger"></span>
*@            </div>
            <div class="form-floating">
                <span class="password-show-toggle js-password-show-toggle"><span class="uil"></span></span>
                <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" id="password" placeholder="Confirm Password">
                <label for="password">Confirm Password</label>
@*                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
*@
            </div>
            </div>
            <div class="d-grid mb-4">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>

           


        </form>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }